<p class="local_aiquestions_attempts">There were {{attempts}} attempts to create the questions.</p>
<p class="local_aiquestions_backtocourse"><a href='{{wwwroot}}/course/view.php?id={{courseid}}'>
    {{#str}}backtocourse, local_aiquestions{{/str}}</a></p>
<p class="local_aiquestions_gotoquestionbank"><a href='{{wwwroot}}/question/edit.php?courseid={{courseid}}'>
    {{#str}}gotoquestionbank, local_aiquestions{{/str}}</a></p>
<p class="local_aiquestions_generatemore"><a href='{{wwwroot}}/local/aiquestions/storyinput.php?courseid={{courseid}}'>
    {{#str}}generatemore, local_aiquestions{{/str}}</a></p>
