{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_aiquestions/ready

    Template which defines the data shown when question are ready.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
        "attempts": 3,
        "wwwroot": "https://moodle.example.com",
        "courseid": 2
    }
}}

<p class="local_aiquestions_attempts">There were {{attempts}} attempts to create the questions.</p>
<p class="local_aiquestions_backtocourse"><a href='{{wwwroot}}/course/view.php?id={{courseid}}'>
    {{#str}}backtocourse, local_aiquestions{{/str}}</a></p>
<p class="local_aiquestions_gotoquestionbank"><a href='{{wwwroot}}/question/edit.php?courseid={{courseid}}'>
    {{#str}}gotoquestionbank, local_aiquestions{{/str}}</a></p>
<p class="local_aiquestions_generatemore"><a href='{{wwwroot}}/local/aiquestions/storyinput.php?courseid={{courseid}}'>
    {{#str}}generatemore, local_aiquestions{{/str}}</a></p>
